$light: #fff;
$dark: #000;
$main: #ff00ae;

$font-title: FabrikatBold;
$font-text: PoppinsLight;

@mixin title-hero {
	font-family: $font-title, sans-serif;
	font-weight: 500;
	font-size: 3.375rem;
}

@mixin title-1 {
	font-family: $font-title, sans-serif;
	font-weight: 500;
	font-size: 3.375rem;
}

@mixin title-2 {
	font-family: $font-title, sans-serif;
	font-weight: 500;
	font-size: 2.625rem;
}

@mixin title-3 {
	font-family: $font-title, sans-serif;
	font-weight: 500;
	font-size: 1.125rem;
}

@mixin text-1 {
	font-family: $font-text, sans-serif;
	font-weight: 500;
	font-size: 1.125rem;
}

@mixin text-2 {
	font-family: $font-text, sans-serif;
	font-weight: 500;
	font-size: 1.125rem;
}

@mixin container {
	margin: 21px;
	padding: 21px;
	box-shadow: -21px 21px;
	border: solid;
	transition: 0.1s ease;

	&:hover {
		box-shadow: -29px 29px #333;
		border: solid;
		transform: translate(8px, -8px);
	}
}
