$light: #fff;
$dark: #000;
$main: #ff00ae;

$font-title: FabrikatBold;
$font-text: PoppinsLight;

@mixin title-hero {
	font-family: $font-title, sans-serif;
	font-weight: 500;
	font-size: 3.375rem;
}

@mixin title-1 {
	font-family: $font-title, sans-serif;
	font-weight: 500;
	font-size: 3.375rem;
}

@mixin text-1 {
	font-family: $font-text, sans-serif;
	font-weight: 500;
	font-size: 1.125rem;
}
